.movie-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 40px;
}

.movie-detail-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.movie-detail-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-detail-card h3 {
  font-size: 24px;
}

.movie-detail-card h4 {
  font-size: 18px;
}

.auditorium-section {
  text-align: center;
  margin-top: 20px;
}

.screening-time-button {
  margin-right: 10px;
  text-align: center;
}

.auditorium-text {
  font-size: 30px;
}

.auditorium-buttons {
  margin-top: 20px;
}

.auditorium-buttons button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
}

.screenings-buttons {
  margin-top: 20px;
}

.screenings-section h4 {
  text-align: center;
}

.seat-row {
  display: flex;
  justify-content: center;
}