.category-container {
  margin-bottom: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  overflow: hidden;
  color: white;
}

.movie-image img {
  width: 100%;
}

.movie-info {
  padding: 10px;
}