.category-container {
  margin-bottom: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 300px;
  /* Set card width */
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  /* Add border */
  border-radius: 5px;
  /* Add border radius */
  overflow: hidden;
  /* Hide overflow content */
  overflow: hidden;
  color: white;
}

.movie-image img {
  width: 100%;
  /* Make image responsive */
}

.movie-info {
  padding: 10px;
}

/* Adjust styles as needed */